body{
    margin: 0;
    padding: 0;
    font-family:Arial, sans-serif ;
}
.bloque{
    height: 50vh;/*cada bloque ocupa la mitad de la pantalla*/
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
}
.bloque1{
    background-color: #FFFFCC;/*amarillo pastel claro*/
}
.bloque2{
    background-color: #FFF2CC;/*amarillo pastel más calido*/
}